.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}
.row {
    display: flex;
    gap: 1rem;
}
.box {
    width: 15rem;
    height: 15rem;
}
.navy {
    background-color: navy;
    position: relative;
} 
.forest-green {
    background-color: forestgreen;
}
.btn {
    padding: 0.5rem 1rem;
    font-size: 1rem;
    cursor: pointer;
    border: none;
    background-color: gray;
    color: white;
    border-radius: 5px;
}